#grid{
	display: table;
	margin: 0 auto;
	border: solid LightGrey 1px;
}

.cell {
	display: inline-block;
	width:14px;
	height: 14px;
	border: solid LightGrey 1px;
	margin: 0px;
}

.snake {
	background-color: black;
}

.food {
	background-color: red;
}

#content{
	display: table;
	margin: 0 auto;
}

h1{
	text-align: center;
}